# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized

*Objectives:*
-List popular languages for Data Science
-List common libraries for Data Science
-List Data Science tools
-Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot2
2. Vegas
3. Numpy

|Data Science Tools|
|------|
|data management eg MySQL|
|data integration and transformation eg Apache Airflow|
|model monitoring tools eg ModelDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ethan Ansel-Kelly